<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Student Lists</h1>

<h2>MS Students</h2>
<table border="1">
    <tr>
        <th>Index</th>
        <th>Name</th>
    </tr>
    <tr th:each="student : ${msstudents}">
        <td th:text="${student.indeks}"></td>
        <td th:text="${student.name}"></td>
    </tr>
</table>

<h2>P Students</h2>
<table border="1">
    <tr>
        <th>Index</th>
        <th>Name</th>
    </tr>
    <tr th:each="student : ${pstudents}">
        <td th:text="${student.indeks}"></td>
        <td th:text="${student.name}"></td>
    </tr>
</table>
</body>
</html>